* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}
 header {
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: black;
color: aliceblue;
}
h1{display: flex;
  align-items: center;
  height: 80px;
  font-size: 20px;
}
h3{
  display: flex;
  align-items: center;
  font-size: 15px;
}
.header-img {
  width: 6%;
  padding: 10px;

  border: 1px solid black;;
}
.sec1 {
  max-height: 50px;
  max-width: 100%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

section{display: flex;
  margin-left: 27%;
  flex-wrap: wrap;
flex-direction: row;
height: 70vh;
justify-content: center;

max-width: 600px;
padding: 0px}

.gallery-img {
  padding-top: 10px;
  width: 160px;
  padding: 20px 20px 20px 20px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
.gallery-img{
  background-color: rgb(211, 191, 191);
  box-shadow:20px;

  border-radius: 10px;
  padding-top: 10px;

  
  
 
}
div{display: flex;
justify-content: space-between;
align-items: center;}

h4{display: flex;
align-items: center;
width: 40px;
padding-bottom: 100%;
padding-left: 20%;
}

footer{
  display: center;
  flex-direction: row;
  padding-top: 15px;
  padding-left: 47%;
  max-width: 100%;
  height: 60px;
}



